/* This file is for your main application css. */

@tailwind base;
@tailwind components;

/* Put your custom components here */

@tailwind utilities;

/* Put your custom utilities here */

/* scroll bar customize */
html {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: auto;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #dddddd;
}

/* Global styles */

.container {
  @apply h-screen overflow-y-scroll pr-4 max-w-full min-w-48;
}

article p,
article ul,
article ol {
  @apply text-base leading-snug;
}

article div,
article p,
article ul,
article ol,
article pre:not(:last-child) {
  @apply mb-6;
}

article ol,
article ul {
  @apply list-disc ml-8;
}

article li:not(:last-of-type) {
  @apply mb-2;
}

article p code {
  @apply p-1/2;
}

article h2 {
  @apply text-2xl my-8 font-bold;
}

/* purgecss ignore */
blockquote p {
  @apply m-0;
}

.article-title {
  @apply font-bold text-3xl;
}

article a {
  @apply underline text-nord10;
}

article a:hover {
  @apply text-nord0 bg-nord10;
}

article img {
  @apply my-4;
}

article pre {
  @apply rounded p-4 overflow-x-auto font-mono text-lg bg-nord2;
}

.btn {
  @apply text-nord7 underline cursor-pointer;
}

.btn:hover {
  @apply text-nord0 bg-nord7;
}
