<%= if @offset == 0 && Enum.empty?(@articles) do %>
  <div>No Articles</div>
<% else %>
  <ul id="article-list" class="pt-4" phx-update="append">
    <%= for article <- @articles do %>
      <li class="max-w-full" id="article-<%= article.id %>" phx-hook="articleExpand" expanded="<%= article.expanded %>">
        <%= render "article.html", article: article %>
      </li>
    <% end %>
  </ul>
  <%= if @has_more do %>
    <div class="self-center" phx-hook="loadMore">Loading</div>
  <% end %>
<% end %>
