<ul id="feed-list-<%= @folder_id %>" class="w-full" phx-update="append">
  <%= for feed <- @feeds do %>
    <li id="<%= feed.id %>"
        class="pl-10 py-1 cursor-pointer hover:bg-nord2 rounded"
        phx-click="select-feed"
        phx-value-id="<%= feed.id %>"
    >
      <div class="flex items-center">
        <%= if feed.icon do %>
          <img class="w-3 mr-2" src="<%= "data:#{feed.icon}" %>">
        <% else %>
          <div class="w-3 mr-2" phx-value-folder-id="<%= @folder_id %>" phx-value-id="<%= feed.id %>" phx-hook="loadFeedIcon">
            <%= svg_image("circle-regular", "fontawesome") %>
          </div>
        <% end  %>
        <p class="truncate text-sm flex-grow"><%= feed.title %></p>
        <p class="mr-2 text-xs color-gray-100">
          <%= feed.unread_count || "…" %>
        </p>
      </div>
    </li>
  <% end %>
</ul>
