<div class="pt-4 w-full h-screen overflow-y-scroll flex flex-col">
  <div class="flex items-center pl-6">
    <h2 class="text-xl font-bold">
      <%= live_patch "Deneir Reader", to: "/", replace: true %>
    </h2>
  </div>
  <ul class="pt-4 overflow-y-scroll h-screen flex-grow" id="folder-list" phx-update="append" >
    <%= for folder <- @folders do %>
      <li id="folder-<%= folder.id %>">
        <div class="py-1 pl-4 flex items-center w-full hover:bg-nord2 rounded">
          <%= if folder.expanded do %>
            <div class="pl-2 w-8" phx-click="toggle-folder" phx-value-id="<%= folder.id %>" phx-value-action="collapse">
              <div class="w-3"><%= svg_image("angle-down-solid", "fontawesome") %></div>
            </div>
          <% else %>
            <div class="pl-2 w-8" phx-click="toggle-folder" phx-value-id="<%= folder.id %>" phx-value-action="expand">
              <div class="w-2"><%= svg_image("angle-right-solid", "fontawesome") %></div>
            </div>
          <% end %>
          <p class="flex-grow cursor-pointer text-sm" phx-click="select-folder" phx-value-id="<%= folder.id %>">
            <b><%= folder.title %></b>
            <p class="mr-2 text-xs color-gray-100"><%= folder.unread_count || "…" %>
          </p>
        </div>
        <%= if folder.expanded do %>
          <%= live_component @socket, DeneirWeb.FeedListComponent, id: folder.id, store: @store %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
